@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  display: flex;
}

* {
  box-sizing: border-box;
}
#ui {
  width: 200px;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

canvas {
  height: 95vh;
  width: 95vw;
}

#text {
  background-color: transparent;  /* needed because webgl-tutoraisl.css sets canvas bg color to white */
  position: absolute;
  left: 0px;
  z-index: 10;
}

